@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Hebrew:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Medium&display=swap');

/* Local fonts from public folder */
@font-face {
  font-family: 'Fira Sans Condensed ExtraBold Italic';
  src: url('/FiraSansCondensed.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('/Montserrat.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins Medium';
  src: url('/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Medium';
  src: url('/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#root {
  margin: 0 auto;
  width: 100%;
}
